///////////////////////////////////////////////////////////////////
/////////////////////////board///////////////////////////////////
/////////////////////////////////////////////////////////////////
@import './variables.scss';
@import './functions.scss';

///////////////////////////////////////////////////////////////////
/////////////////////////whole sheet///////////////////////////////////
/////////////////////////////////////////////////////////////////
* {
  font-family: 'Libre Bodoni', serif;
}

h2 {
  font-family: 'Libre Bodoni', serif;
}

body {
  background-color: #4a4a7d;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input {
  display: inline;
}

.break {
  flex-basis: 100%;
  height: 0;
}

label {
  color: #a5a5f6;
}

///////////////////////////////////////////////////////////////////
/////////////////////////Add New Task Form///////////////////////////////////
/////////////////////////////////////////////////////////////////
.taskForm,
#loginForm,
#signupForm,
#addNewBoardForm {
  padding-left: 1%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;

  label {
    color: #a5a5f6;
  }

  #inputs {
    max-width: 35%;
  }

  #submitBtn {
    margin-top: 1%;
  }
}

///////////////////////////////////////////////////////////////////
/////////////////////////board///////////////////////////////////
/////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////
/////////////////////////login page///////////////////////////////////
/////////////////////////////////////////////////////////////////
#loginForm,
#signupForm {
  @include FlexCenter(row);
  flex-wrap: wrap;
}

#login {
  @include FlexCenter(column);

  #innerNav {
    margin-top: 17%;
  }
}

///////////////////////////////////////////////////////////////////
/////////////////////////taskboard///////////////////////////////////
/////////////////////////////////////////////////////////////////
.container {
  width: 90%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.boards-heading {
  display: flex;
  justify-content: left;
  align-content: center;
  flex-direction: row;
  font-family: sans-serif;
}

.taskboard-heading {
  @include FlexCenter(row);
  font-family: sans-serif;
}

.taskboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  font-family: sans-serif;
}

.taskboard-block {
  padding: 1.6rem;
  width: 27.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
  background-color: rgb(71, 69, 69);

}

#dannyDevito {
  @include FlexCenter(row);
}

.garbageBin {
  strong {
    max-width: 150px;
    max-height: 135px;
    margin-bottom: 20px;
    background-color: $buttonColor !important;
    margin-inline: 20px;
  }


}

#toDo {}

#inProgress {}

#done {}

///////////////////////////////////////////////////////////////////
/////////////////////////cards///////////////////////////////////
/////////////////////////////////////////////////////////////////
.card {
  overflow: auto;
  padding: 5%;
  background-color: rgb(192, 189, 189) !important;
  max-height: 350px;
  max-width: 325px;
  margin-bottom: 10px;
  justify-content: center;

}

#collapsibleContent {

  padding: 0 18px;
  background-color: rgb(140, 170, 225);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  background-color: rgb(22, 24, 72);
  width: 100%;
  color:$buttonColor;




}

.middleOfCard {

  @include FlexCenter(row);
  margin-bottom: 10%;

  h2 {
    font-size: 24px;
  }
}

.bottomOfCard {

  h2 {
    font-size: 10px;
    max-height: 12%;
  }

}

h2,
h3 {
  font-size: 2.0rem;
  margin-top: 0;
  color: #000080;
}


///////////////////////////////////////////////////////////////////
/////////////////////////poopy ass navbar/////////////////////////
/////////////////////////////////////////////////////////////////
#innerNav {
  @include FlexCenter(row);

  nav {

    @include FlexCenter(row);
  }

  div {

    @include FlexCenter(row);
  }
}

.btnLink {
  @include ButtonData();


}

#boardsLogout {
  box-shadow: 2px 3px;

  @keyframes mymove {
    15% {
      box-shadow: 5px 7px;
    }
  }

  max-width: 150px;
  max-height: 135px;
  margin-top: 20px;
  background-color: $buttonColor !important;
  margin-inline: 5px;

  :hover {
    animation: mymove 1.5s;
  }
}