<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>taskMaker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap" rel="stylesheet">
</head>

<body>
<div id="taskMessage" class='hidden'>
    <h3><span class="is-size-5" id="errorMessage"></span></h3>
  </div>
<div id="login">
  <div id="innerNav">
    <div class="btnLink">
      <a class="is-size-3 has-text-centered" id="loginButton" href="/login">Login</a>
    </div>
    <div class="btnLink">
      <a class="is-size-3 has-text-centered" id="signupButton" href="/signup">Signup</a>
    </div>
  </div>


  <section id="content">

  </section>
</div>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>