* {
  font-family: "Libre Bodoni", serif;
}

.button {
  font-family: "Libre Bodoni", serif;
}

h2 {
  font-family: "Libre Bodoni", serif;
}

body {
  background-color: #4a4a7d;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input {
  display: inline;
}

.break {
  flex-basis: 100%;
  height: 0;
}

label {
  color: #a5a5f6;
}

.taskForm,
#loginForm,
#signupForm,
#addNewBoardForm {
  padding-left: 1%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
}
.taskForm label,
#loginForm label,
#signupForm label,
#addNewBoardForm label {
  color: #a5a5f6;
}
.taskForm #inputs,
#loginForm #inputs,
#signupForm #inputs,
#addNewBoardForm #inputs {
  max-width: 35%;
}
.taskForm #submitBtn,
#loginForm #submitBtn,
#signupForm #submitBtn,
#addNewBoardForm #submitBtn {
  margin-top: 1%;
}

#loginForm,
#signupForm {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#login {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#login #innerNav {
  margin-top: 17%;
}

.container {
  width: 90%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.boards-heading {
  display: flex;
  justify-content: left;
  align-content: center;
  flex-direction: row;
  font-family: sans-serif;
}

.taskboard-heading {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  font-family: sans-serif;
}

.taskboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  font-family: sans-serif;
  overflow: hidden;
}

.taskboard-block {
  padding: 1.6rem;
  width: 27.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
  background-color: #474545;
}

#dannyDevito {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.garbageBin strong {
  max-width: 150px;
  max-height: 135px;
  margin-bottom: 20px;
  background-color: #687cbf !important;
  margin-inline: 20px;
}

.card {
  overflow: auto;
  padding: 5%;
  background-color: #c0bdbd !important;
  max-height: 350px;
  max-width: 325px;
  margin-bottom: 10px;
  justify-content: center;
}

#collapsibleContent {
  padding: 0 18px;
  background-color: #8caae1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  background-color: #161848;
  width: 100%;
  color: #687cbf;
}

.middleOfCard {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-bottom: 10%;
}
.middleOfCard h2 {
  font-size: 24px;
}

.bottomOfCard h2 {
  font-size: 10px;
  max-height: 12%;
}

h2,
h3 {
  font-size: 2rem;
  margin-top: 0;
  color: #000080;
}

#innerNav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
#innerNav nav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
#innerNav div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.btnLink {
  box-shadow: 2px 3px;
  max-width: 150px;
  max-height: 135px;
  margin-bottom: 20px;
  background-color: #687cbf !important;
  margin-inline: 5px;
}
@keyframes mymove {
  15% {
    box-shadow: 5px 7px;
  }
}
.btnLink :hover {
  animation: mymove 1.5s;
}

#boardsLogout {
  box-shadow: 2px 3px;
  max-width: 150px;
  max-height: 135px;
  margin-top: 20px;
  background-color: #687cbf !important;
  margin-inline: 5px;
}
@keyframes mymove {
  15% {
    box-shadow: 5px 7px;
  }
}
#boardsLogout :hover {
  animation: mymove 1.5s;
}

#taskMessage {
  display: flex;
  justify-content: right;
  align-content: center;
  max-height: 15%;
  padding-top: 2px;
}
#taskMessage #errorMessage {
  outline: 3px solid #ff0909;
  outline-offset: 3px;
  color: #fa1f1f;
  margin-right: 5%;
}

#hrefBtn {
  display: flex;
  align-content: center;
  margin-right: 7px;
  max-width: 15%;
  height: 100%;
}